/* -- MAIN FORUM ------------------------ */
.page-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;

}
.forum-container {
    width: 90%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-bottom: 100px;
    border: solid 2px rgb(212, 212, 212);
    border-radius: 5px;
}

.profile-icon {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.forum-options {
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.forum-header-image {
    width: 100%;
    height: 150px;
    /* background-image: url('https://penntoday.upenn.edu/sites/default/files/2019-10/iStock-1094310798.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.forum-header {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px rgb(71, 71, 71);
}

.add-post {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.add-post:hover {
    cursor: pointer;
    color: blue;
}

.forum-table {
    width: 100%;
    border-collapse: collapse;
}

.table-label {
    padding: 8px;
    border-bottom: 1px solid black;
}

.post-row:nth-child(even) {background-color: #f2f2f2;}

th, td {
  padding: 15px;
  text-align: left;
}

.comment-count {
    display: flex;
    justify-content: center;
}

.post-row {
    height: 100px;
    padding: 10px;
}

.user-name {
    text-decoration: none;
    color:rgb(121, 121, 121)
}

.user-name:hover {
    color: blue;
}

/* -- SIDEBAR ---------------------- */
.sidebar-container {
    width: 90%;
    height: 100%;
}

.sidebar-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 10px;

}

.sidebar-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid rgb(212, 212, 212);
    margin-bottom: 10px;
    text-align: center;
}

.sidebar-link:hover {
    color: blue;
}

/* -- POST PAGE -------------------- */
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.post {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 15px;
    /* padding-bottom: 100px; */
    border: solid 2px rgb(212, 212, 212);
    border-radius: 5px;
}

.post-user-options {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.edit-button {
    padding: 5px;
    color: rgb(163, 163, 163);
}

.delete-button {
    padding: 5px;
    color: rgb(255, 129, 129);
}

.post-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.post-body-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid rgb(163, 163, 163);
    padding: 20px 0;
    margin-bottom: 15px;
}

.post-title-container {
    width: 100%;
    padding-left: 15px;
    display: flex;
    /* justify-content: center; */
}

.post-title {
    text-decoration: none;
    color: black;
}

.post-title:hover {
    color: blue;
}

.likes-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.like-heart:hover {
    cursor: pointer;
}

.author-name {
    text-decoration: none;
    color: black;

}

.author-name:hover {
    color: blue;
}
/* -- DISPLAY COMMENTS ----------------- */
.comment-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.comments-table {
    width: 100%;
    border-collapse: collapse;
}

.comment-options-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.comment-row {
    width:100%;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.add-comment {
    color: rgb(163, 163, 163);

}

.add-comment:hover {
    color: black;
    cursor: pointer;
}

.edit-comment-cell {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* .comment-cell {
    width: 100%;
    display: flex;
    flex-direction: column;

} */

.comment-info {
    display: flex;
    justify-content: flex-start;

}

.name-date {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.comment-body {
    text-align: left;
}

.table-cell {
    padding-bottom: 20px;
}

.comment-edit-delete {
    width: 100%;
    display: flex;
    justify-content: flex-start;

}

/* -- ADD COMMENT ------------------ */
/* .post-form {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
} */

.comment-form-con {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.comment-form-label {
    padding-bottom: 4px;
    font-weight: 500;
}

.comment-form-input {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    height: 100px;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.comment-form-button {
    margin-top: 5px;
    padding: 2px 0;
    background-color: rgb(201, 201, 201);
    border: none;
    border-radius: 3px;
    width: 50%;
    color: rgb(0, 3, 20);
}

/* -- ADD POST ----------------------- */
.add-form-con {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form-label {
    padding-top: 8px;
    padding-bottom: 4px;
    font-weight: 500;
}

.form-input {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    height: 100px;
}

.small-form-input {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    height: 20px;
}

.small-form-select {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    height: 20px;
    width: 40%;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.form-button {
    margin-top: 5px;
    padding: 2px 0;
    background-color: rgb(201, 201, 201);
    border: none;
    border-radius: 3px;
    width: 50%;
    color: rgb(0, 3, 20);
}

.edit-form-container {
    display: flex;
    justify-content: center;
}