.progress-bar {
    height: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    
}

.circle-image {
    width: 50%;
    border-radius: 10px;
}

.circle-result {
    padding: 5px;
    font-size: 18px;
}

.image-link {
    text-align: center;
}

.breed {
    text-align: center;
    

}
