@import "~react-image-gallery/styles/css/image-gallery.css";

.breed-list-container {
    display: flex;
    flex-direction: column;
    
}

.breed-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carousel {
    padding: 0;
    margin: 0;
}

.carousel-container {
    /* margin-bottom: 200px; */
}

.breed-content {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}